@use './../../../../style/tokens.scss' as *;

.devio-food-card {
    padding-top: 48px;
    &__card {
        text-align: center;
        margin-right: 32px;
        .img {
            margin: 0 auto;
            height: 150px;
        }
        .img-destaque {
            width: 100%;
            height: 300px;
            border-radius: 12px;
          }
    }

    swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        // display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        display: block;
        border-radius: 20px;
        box-shadow: rgb(213 213 213 / 23%) 0px 0px 15px 2px;
        & .titulo {
            font-size: $font-size-large;
            padding-top: $space-24x;
            display: flex;
            justify-content: center;
            font-weight: bold;
            text-transform: capitalize;
        }
        & .subtitulo {
            font-size: $font-size-small;
            padding-bottom: $space-24x;
            display: flex;
            justify-content: center;
            font-weight: bold;
        }
      }
    
      @media (min-width: 640px) {
        swiper-slide {
          width: 350px !important;
          height: 98% !important;
          min-height: 200px;
        }
      }
    
      swiper-slide img {
        display: block;
        object-fit: cover;
      }

      .img-destaque {
        width: 100%;
        border-radius: 12px 12px 0 0px;
      }
      swiper-slide {
        width: 340px;
        margin-right: $space-48x;
        background: transparent;
      }
      swiper-container {
        padding: 16px;
      }

}