@use './../../../style/tokens.scss' as *;

.devio-food-cozinha {
    padding: $space-100x $space-48x $space-48x $space-48x;
    @media (max-width: 500px) {
        padding: $space-100x $space-12x 0px $space-12x;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        text-align: left;
        .conteudo {
            margin-bottom: $space-16x;
        }
        &__preparando {
            .mat-mdc-form-field {
                width: 100%;
            }
            width: 50%;
            border-right: $space-2x solid #0e0e0e;
            margin-right: $space-48x;
            .mat-mdc-card {
                width: 90%;
                @media (max-width: 500px) { 
                    width: 98%;
                }
                margin-bottom: $space-24x;
            }
            .pedido {
                display: flex;
                justify-content: space-between;
                align-items: center;
                &__imagem {
                    @media (max-width: 500px) {
                        display: none;
                    }
                    // position: absolute;
                    img {
                        width: $space-60x;
                        height: $space-60x;
                        border-radius: $space-32x;
                        object-fit: cover
                    }
                    @media (max-width: 500px) {
                        img {
                            width: $space-60x;
                            height: $space-60x;
                            border-radius: $space-32x;
                            object-fit: cover
                        }
                     }
                }
                &__descricao {
                    display: grid;
                    .nome {
                        font-size: $font-size-medium;
                        font-weight: bold;
                    }
                    .item {
                        font-size: $font-size-small;
                        width: 150px;
                    }
                }
                &__acao {
                    button {
                        height: $space-32x ;
                        width: $space-32x ;
                        min-width: $space-32x;
                        margin-left: $space-8x
                    }
                    display: flex;
                }

                &__acao-mobile {
                    display: none;
                    @media (max-width: 1024px) {
                        display: flex;
                        margin-top: $space-24x;
                        justify-content: space-between;
                     }    
                 }

                 &__acao {
                    @media (max-width: 1024px) {
                        display: none;
                     } 
                 }
            }
        }
        &__pronto {
            .mat-mdc-form-field {
                width: 100%;
            }
            width: 50%;
            margin-right: $space-48x;
            .mat-mdc-card {
                width: 90%;
                @media (max-width: 500px) {
                    width: 98%;
                 }
                margin-bottom: $space-24x;
            }
            .pedido {
                display: flex;
                justify-content: space-between;
                align-items: center;
                &__imagem {
                    @media (max-width: 500px) {
                        display: none;
                    }
                    // position: absolute;
                    img {
                        width: $space-60x;
                        height: $space-60x;
                        border-radius: $space-32x;
                        object-fit: cover

                    }
                    @media (max-width: 500px) {
                        img {
                            width: $space-60x;
                            height: $space-60x;
                            border-radius: $space-32x;
                            object-fit: cover

                        }
                     }
                }
                &__descricao {
                    display: grid;
                    .nome {
                        font-size: $font-size-medium;
                        font-weight: bold;
                    }
                    .item {
                        font-size: $font-size-small;
                    }
                }
                &__acao {
                    button {
                        height: $space-32x;
                        width: $space-32x;
                        min-width: $space-32x;
                        margin-left: $space-4x
                    }
                    display: flex;
                }

                &__acao-mobile {
                    display: none;
                    @media (max-width: 1024px) {
                        display: flex;
                        margin-top: $space-24x;
                        justify-content: space-between;
                     }    
                 }

                 &__acao {
                    @media (max-width: 1024px) {
                        display: none;
                     } 
                 }
            }
        }
    }
 }