$primary-color: #125c13;
$secondary-color: #014178;
$gray-color: #aeb1ae;
$gray-light-color: #f5f5f5;
$green-color: #046906;
$black-color: #000;
$alert-color: #b10000;
$alert-color2: #ef0808;

$font-site: "Poppins", sans-serif;
$font-size-medium: 14px;
$font-size-small: 12px;
$font-size-x-small: 10px;
$font-size-xx-small: 9px;
$font-size-large: 18px;
$font-size-x-large: 24px;
$font-size-xx-large: 36px;

$space-2x : 2px;
$space-4x : 4px;
$space-8x : 8px;
$space-16x : 16px;
$space-24x : 24px;
$space-32x : 32px;
$space-48x : 48px;
$space-60x : 60px;
$space-70x : 70px;
$space-80x : 80px;
$space-90x : 90px;
$space-100x : 100px;

