$primary-color: #125c13;
$secondary-color: #014178;
$gray-color: #aeb1ae;
$green-color: #046906;
$black-color: #000;
$alert-color: #b10000;

$font-site: "Poppins", sans-serif;
$font-size-medium: 14px;
$font-size-small: 12px;
$font-size-x-small: 10px;
$font-size-xx-small: 9px;
$font-size-large: 18px;
$font-size-x-large: 24px;
$font-size-xx-large: 32px;

