<devio-food-menu></devio-food-menu>
<div class="devio-food-home">
  <section class="devio-food-home__find">
    <h1>Seja bem vindo!</h1>
    <devio-food-search></devio-food-search>
  </section>
  <section class="devio-food-home__sections">
    <devio-food-section [tipo]="tipoCard.CATEGORIAS" [titulo]="'Categorias'" [subTitulo]="categorias"></devio-food-section>
  <devio-food-section [tipo]="tipoCard.PRODUTOS" [titulo]="'Produtos'" [subTitulo]="produtos"></devio-food-section>
  </section>
  <div class="pedido" mat-raised-button (click)="openBottomSheet()">
    <div class="pedido__text"><mat-icon>shopping_cart</mat-icon>Pedido</div>
  </div>
</div>

