@use './../../../style/tokens.scss' as *;

.devio-food-home {
    padding: $space-100x $space-48x $space-48x $space-48x;
    @media (max-width: 500px) {
        padding: $space-100x $space-12x 0px $space-12x;
    }
    &__find {
        margin-bottom: $space-32x;
    }

    .pedido {
        position: fixed;
        overflow: hidden;
        right: $space-24x;
        bottom: $space-24x;
        z-index: 200;
        padding-left: $space-24x;
        padding-right: $space-24x;  
        height: $space-48x;
        border-radius: $space-48x;
        background-color: $primary-color;
        background-position: $space-8x 50%;
        background-size: $space-32x;
        background-repeat: no-repeat;
        box-shadow: 0 0 $space-8x 0 rgba(75,231,106,0), 0 $space-24x $space-24x -4px rgba(0,0,0,.12);
        -webkit-transition: all 1s cubic-bezier(.19,1,.22,1);
        transition: all 1s cubic-bezier(.19,1,.22,1);
        text-decoration: none;
        cursor: pointer;
        display: block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        &__text{
          position: relative;
          padding-top: $space-16x;
          padding-bottom: $space-16x;
          color: $white-color;
          font-size: $space-12x;
          line-height: $space-16x;
          font-weight: 600;
          letter-spacing: $space-2x;
          justify-content: flex-start;
          display: flex;
          overflow: hidden;
  
        }
        .mat-icon {
          bottom: $space-4x;
          position: relative;
          margin-right: $space-4x;
        }
        .carrinho-contador {
            width: $space-24x;
            border-radius: $space-16x;
            background-color: $alert-color2;
            position: relative;
            display: flex;
            bottom: $space-4x;
            justify-content: center;
            align-items: center;
            margin-left: 2px;
        }
  
    }
}
.devio-food-pedido-sheet {
    &__table {
        padding-bottom: $space-24x;
        .table {
            border: 1px solid $gray-color;
            border-radius: $space-4x;
        }
        .item {
            display: inline-flex;
            justify-content: space-between;
            width: 100%;
        }
        .separador {
            margin: 16px;
            border-top: 1px dashed $gray-color;
        }
        .total {
            margin: $space-16x;
            display: grid;
            justify-content: flex-end;
            text-align: right;
            &__valor {
                font-size: $font-size-large;
                font-weight: bold;
            }
        }
    }
    &__action {
        display: flex;
        justify-content: flex-end;
        padding-bottom: $space-16x;
        button {
            margin-left: $space-32x;
        }
    }
    &__finalizar {
        mat-icon {
            vertical-align: text-bottom;
            padding-right: $space-4x;
        }
        .nome {
            width: 78%;
            margin-right: 2%;
        }
        .codigo {
            width: 20%;
        }
        @media (max-width: 500px) {
            input {
                font-size: $space-12x;
            }
        }
        mat-list-option {
            border: 1px solid $primary-color;
            margin-bottom: $space-8x;
        }
    }
    
}
::ng-deep {
    .mat-bottom-sheet-container {
        min-width: 100vw;
        padding: 0px $space-32x 0px $space-16x;
    }
    @media (max-width: 500px) {
        .mat-bottom-sheet-container {
            min-width: 100vw;
        }
    }
}