
@use './../../../../style/tokens.scss' as *;

.devio-food-dialog-produto {  
    &__card-produto {
        h1 {
            display: flex;
            justify-content: center;
        }
        .mdc-dialog__title {
            text-transform: uppercase;
            margin: 0 auto;
            text-align: center;
        }
        .mat-mdc-card-content {
            text-align: left;
        }
        .close {
            display: flex;
            justify-content: flex-end;
            font-size: 24px;
            padding: 16px;
            cursor: pointer;
        }
        .mat-mdc-form-field {
            padding-bottom: 16px;
        }

        mat-card-actions {
            padding: 0 16px;
            display: block;
            // justify-content: space-between;
            button {
                padding: 0px;
                width: 100%;
                cursor: pointer;
            }
            span {
                padding: 24px;
                display: flex;
                justify-content: center;
            }
            strong {
                color: $primary-color;
                padding-left: 4px;
                cursor: pointer;
            }
        }
        .mat-dialog {
            margin: 16px;
        }
        .mat-mdc-form-field { 
            width: 100%;
        }
        .mat-mdc-outlined-button.mat-primary {
            color: $primary-color;
            background-color: transparent;
            border: 1px solid $primary-color;
        }
       
         mat-card {
            background-color: transparent;
            box-shadow: none;
        }
    }
}

::ng-deep{
    .mat-mdc-dialog-container .mdc-dialog__content {
        padding: 0;
     }
     .cdk-overlay-container {
        z-index: 9999999;
    }
    .mdc-list-item__primary-text{
        display: flex;
        justify-content: space-between;
    }
    .mat-mdc-dialog-content {
        max-height: fit-content;
    }
  
    .mat-mdc-card-header {
        padding: 0 !important;
    }
    
}